*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;

}


/* navbar styling-------------------- */

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 8px 30px;
    background-color: #f2f2f2;
    border-bottom: 4px solid #fff;
}

.logo-box{
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

.logo{
    color: #4b0caf;
    font-weight: 600;
}

#select-option{
    padding: 5px;
    font-size: 14px;
    border: none;
    background-color: #f2f2f2;
}

.product-search-container{
    position: relative;
    
}

.product-search-input{
    padding: 5px;
    width: 40rem;
    height: 40px;
    border: 1px solid #000;
    border-radius: 5px;
}

.search-icon{
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    cursor: pointer;
}

.select-location-container{
    padding-top: 10px;
}

.select-language-contaiiner{
    padding-top: 10px;
}

#select-language{
    padding: 5px;
    font-size: 14px;
    border: none;
    background-color: #f2f2f2;
}

.profile-img{
  font-size: 25px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 40px;
  color: blue;
  background-color: #fff;
  cursor: pointer;
}

.sell-product-btn{
    padding: 5px 20px;
    border: 5px solid #030303;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    border-color:  #70adc9;
    background: linear-gradient(109.6deg, rgb(204, 228, 247) 11.2%, rgb(237, 246, 250) 100.2%);
    color: #000;
}

.sell-product-btn:hover {
  background: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%); 
  transition: 0.6s;
}


.sell-icon{
    font-size: 20px;
    padding: 2px;
}

/* sub-navbar------------------------------------------ */

.sub-navbar{
    width: 100%; 
    background-color: #fafafa;
}
 
 .navbar-pages-container{
     display: flex;
     justify-content: space-evenly;
     align-items: center;
     width: 70%; 
     padding: 5px;
}


/* hero section ********************/

.hero-section{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 50px 5px;
  }
  
  .slider-img{
    height: 400px;
    height: 400px;
  }
  
  .slider-main{
      width: 80%;
      height: 300px;
      border-radius: 5px;
      border-bottom: 20px solid #ccc;
      background-color: #a2baca;
      display: flex;
      justify-content: center;
      align-items: center;
     
  }






/* footer section styling *****************************/

footer{
    background-color:  #2c3e50;
  }

  .footer-section{
    display: flex;
    justify-content: space-around;
    background-color:  #2c3e50;
    padding: 15px 10px;
    padding-top: 35px;
  }

  .footer-anchor-style{
    display: flex;
    flex-direction: column;
    padding: 5px;
  }

 .anchor-style{
  text-decoration: none;
  color: #ccc;
  padding-bottom: 3px;
 }

 .footer-heading-style{
  
  color: #ffffff;

  }

 .anchor-style:hover{
  color: #ffffff;
 }

 .footer-icon-style{
  color: #ccc;
  padding: 4px;
  font-size: 25px;
  cursor: pointer;

 }
  
 .footer-icon-style:hover{
  color: #ffffff;
 }

 .copy-right{
  color: #ccc;
  text-align: center;
  padding: 4px;
 }