*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* navbar styling-------------------- */

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 8px 30px;
    background-color: #f2f2f2;
    border-bottom: 4px solid #fff;
    
}

.logo-box{
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

.logo{
    color: #4b0caf;
}

#select-option{
    padding: 5px;
    font-size: 14px;
    border: none;
}

.product-search-container{
    position: relative;
    
}

.product-search-input{
    padding: 5px;
    width: 45rem;
    height: 40px;
    border: 1px solid #000;
    border-radius: 5px;
}

.search-icon{
    position: absolute;
    top: 9px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

.select-location-container{
    padding-top: 10px;
}

.select-language-contaiiner{
    padding-top: 10px;
}

#select-language{
    padding: 5px;
    font-size: 14px;
    border: none;
    
}

.profile-img{
  font-size: 25px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 40px;
  color: blue;
  background-color: #fff;
  cursor: pointer;
}

.sell-product-btn{
    padding: 5px 20px;
    border: 5px double #030303;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    border-color:  #1979a5;
    background-color: #3498db;
    color: #ffff;
}

.sell-icon{
    font-size: 20px;
    padding: 2px;
}


/* sub-navbar------------------------------------------ */

.sub-navbar{
   width: 100%; 
   background-color: #fafafa;
}

.navbar-pages-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 70%; 
    padding: 5px;
}