.main-container {
    background-color: black;
    object-fit: cover;
    height: 500px;
    position: relative;
    overflow: hidden;
    text-align: center;

}

.img-container {

    width: 100%;
    position: relative;
    height: 100%;
}

.img-container img {
    object-fit: cover;
}
.img-back {
    left: 10;
}
.img-back:hover {
    transform: scale(0) translateX();
}
.img-next {
    right: 0;
}
.img-next:hover {
    transform: scale(0) translateX();
}
.img-same {
    height: 60px;
    position: absolute;
    top: 50%;
    cursor: pointer;
    transition: 0.5s;
    transform: translateY(-50%);
}