.main-container {
    background-color: black;
    position: relative;
    overflow: hidden;
    text-align: center;
    height: 500px;
}
.img-container {
    width: 100%;
    height: 100%;
    position: relative;
}
.img-container img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}
.img-back, .img-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

.img-back {
    left: 10px;
}

.img-next {
    right: 10px;
}

.img-same {
    height: 60px;
    position: absolute;
    top: 50%;
    cursor: pointer;
    transition: 0.5s;
    transform: translateY(-50%);
}