a{
    text-decoration: none;
    color: black;
}
.head-title{
    margin-left: 10px;
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 20px;
}

.product-container{
    padding-top: 8px;
    display: flex;
}

.products-card-container{
  width: 100%;
  padding: 2px 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  
}

.categories-section{
    width: 300px;
    background-color: #ecf0f1;
    position: relative;
    margin-bottom: 40px;
    border-radius: 16px;
    margin-right: -25px;
}
.categories-container{
    margin-left: 10px;
    margin-top: 20px;
}
.categories-heading{
    font-size: 18px;
    font-weight: bold;
}

b{
    font-weight: bold;
}

.angle-down {
    margin-left: 120px;
    font-size: 20px;
    visibility: hidden;
}
.angle-up {
    margin-left: -19px;
    font-size: 20px;
    visibility: visible;
}

.sub-category{
    margin-left: 30px;
    margin-top: 9px;
}

.products-card {
    background: #ffffff;
    border-radius: 16px;
    overflow: hidden;
    width: 300px; 
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15); 
    display: flex;
    flex-direction: column;
    border: 1px solid #e1e8ed;
    margin-bottom: 40px; 
    margin: 5px 15px;
    margin-bottom: 40px;
  }



