a{
    text-decoration: none;
    color: black;
}
.head-title{
    margin-left: 10px;
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 20px;
}

.product-container{
    padding-top: 8px;
    display: flex;
}

.products-card-container{
  width: 100%;
  padding: 2px 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  
}

.categories-section{
    width: 300px;
    background-color: #ecf0f1;
    position: relative;
    margin-bottom: 40px;
    border-radius: 16px;
}
.categories-container{
    margin-left: 10px;
    margin-top: 20px;
}
.categories-heading{
    font-size: 18px;
    font-weight: bold;
    
}



