.main-container {
    background-color: black;
    position: relative;
    overflow: hidden;
    text-align: center;
    height: 500px;
    margin-top: 100px;
    margin-left: 20px;
    margin-right: 20px;
}
.img-container {
    width: 100%;
    height: 100%;
    position: relative;
}
.img-container img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}
.img-back, .img-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

.img-back {
    left: 10px;
}

.img-next {
    right: 10px;
}

.img-same {
    height: 40px;
    position: absolute;
    top: 50%;
    cursor: pointer;
    transition: 0.5s;
    transform: translateY(-50%);
}
.vehicle-description{
    margin-top: 50px;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 100px;
    display: flex;

}
.vehicle-div-1{
    flex-direction: column;
    
}
.vehicle-subdiv1{
     height: 170px;
    width: 770px;
    margin-top: 20px; 
    padding: 25px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
    border-radius: 10px; 
  
}
.vehicle-subdiv2{
    
    height: 200px;
    width: 770px;
    margin-top: 20px;
    padding: 25px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
    border-radius: 10px; 
   
    
}
.vehicle-subdiv3{
    height: 665px;
    width: 770px;
    margin-top: 20px;
    padding: 25px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15); 
    border-radius: 10px; 
  
  

    
}
.vehicle-div-2{
    
    flex-direction: column;
    margin-left: 30px;
    margin-top: 21px;
    
}

.vehicle-subdiv5{
    border: 1px soild black;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
    border-radius: 10px; 
    padding: 10px;
    height: 230px;
    width: 420px;
    
}
.vehicle-subdiv4{
    border: 1px soild black;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
    border-radius: 10px; 
    padding: 20px;
    height: 285px;
    width: 420px;
    margin-top: 20px; 
}
.subdiv4-logo{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-top: 5px;

}
.logo-name-cont{
    display: flex;
    color: #2c3e50;
}
.logo-name-cont-2{
    margin-top: 42px;
    margin-left: 15px;
}
.chat-with-seller{
    margin-top: 50px;
    height: 50px;
    width: 380px;
    padding: 10px;
    background-color:#3498db ;
    font-size: 15px;
    font-weight: bold;
    color:white;
    cursor: pointer;
    border-radius: 8px;
    border: none;
    transition: background 0.3s ease, transform 0.2s ease;
  


}
.vehicle-call{
    height: 50px;
    margin-top: 10px;
}

.vehicle-subdiv6{
    border: 1px soild black;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    height: 520px;
    width: 420px;
    margin-top:20px ;
    padding: 10px;   
}
.price-vehicle{
    font-size: 50px;
    margin-left: 20px;
    
}
.make-offer-btn{
    background-color:#3498db ;
    color: white;
    font-size: 15px;
    padding: 10px;
    font-weight: bold;
    border: none;
    margin-top: 10px;
    margin-left: 20px;
    border-radius: 8px;
    width: 360px;
    height: 50px;
    cursor: pointer;
}


.loan-vechile{
    background-color:rgb(206, 221, 255);
    color:black;
    font-size: 15px;
    border: none;
    margin-top: 10px;
    margin-left: 20px;
    padding-left: 10px;
    border-radius: 4px;
    width: 360px;
    height: 50px;
    display: flex;
    

}
.get-offer{
    margin-top: 15px;
}
.money-bank{
    margin-right: 10px;
    margin-top: 10px;
}
.v-description{
    color:rgb(64,99,103);
    font-size: 16px;
    margin-top: 15px;
    line-height: 24px;
}
.main-desc{
    color: #2c3e50;
    margin-bottom: 13px;
}
.Overview-cont{
    display: flex;
    margin-top: 30px;
    margin-right: 70px;
    line-height: 24px;
}
.overview-img{
    height: 50px;
    margin-right: 5px;
}
.main-overview-container{
    display: flex;
}
.featurev{
    background-color: rgb(248, 224, 7);
    font-size: 30;
    height: 35px;
    width: 95px;
    border-radius: 4px;
    padding: 7px;
    margin-top: 3px;
    
    
}
.verified-seller{
    background-color:rgb(206, 221, 255);
    color: rgb(58,119,255);
    font-size: 30;
    height: 40px;
    width: fit-content;
    border-radius: 4px;
    padding: 7px;
    margin-left: 10px
   

}
.verify-celler-png{
    height: 20px;
    margin-right: 3px;
}
.car-name-h1{
    font-size: 35px;
    padding-top: 5px;
   

}
.fearure-seller-div{
    display: flex;
}
.petrol-auto-speed-png{
    height: 25px;
    margin-top: 5px;
   

}
.petrol-auto-speed-container{
    display: flex;
}
.petrol-auto-speed-png-sub
{
    margin-right: 20px;
    display: flex;
}
.s-name{
    padding-top: 10px;
    margin-left: 3px;
    color:rgb(64,99,103);   
}
/*overlay chat with seller*/
.send-msg-text{
    text-align: center;
    font-size: 25px;
    color:rgb(64,99,103);   
    margin-bottom: 20px;

}
.send-btn {
    text-align: center;
    width: 300px;
    background-color:#3498db ;
    color: white;
    font-size: 17px;
    font-weight: bold;
    padding: 10px;
    border: none;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 8px;
    border-radius: 8px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
}
.model {
    background-color: white;
    width: 400px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
    position: relative;
    padding: 20px;
}
.form-ip {
    width: 350px;
    height: 50px;
    margin-top: 20px;
    border: 1px solid #1979a5;
    border-radius: 10px;
    padding-left: 10px;
    font-size: 15px;
    margin-left: 8px;

    
}
.form-btn {
    margin-top: 20px;
    text-align: center;
}
#close {
    height: 35px;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer; 
}

.seller-icon{
    font-size: 30px;
    padding: 40px 50px;

}



/* media query*/
@media (max-width: 1200px) {
    .vehicle-description {
        margin-left: 20px;
        margin-right: 20px;
        flex-direction: column;
    }

    .vehicle-div-1, .vehicle-div-2 {
        flex: none;
        width: 100%;
        margin: 0;
    }

    .vehicle-subdiv1, .vehicle-subdiv2, .vehicle-subdiv3, .vehicle-subdiv5, .vehicle-subdiv6 {
        width: 100%;
    }
    .vehicle-subdiv2{
        height: 270px;
    }
    .vehicle-subdiv5{
        margin-top: 30px;
    }



    .img-same {
        height: 30px;
    }

    .price-vehicle {
        font-size: 35px;
    }
}

@media (max-width: 768px) {
    .vehicle-description {
        margin-left: 10px;
        margin-right: 10px;
    }

    .vehicle-subdiv1, .vehicle-subdiv2, .vehicle-subdiv3, .vehicle-subdiv5, .vehicle-subdiv6 {
        width: 100%;
    }
    .vehicle-subdiv5{
        margin-top: 30px;
    }

    .img-same {
        height: 25px;
    }

    .price-vehicle {
        font-size: 30px;
    }

    .car-name-h1 {
        font-size: 28px;
    }

    .chat-with-seller {
        width: 100%;
    }

    .make-offer-btn, .loan-vechile {
        width: 530px;
    }

    iframe {
        width: 100%;
        height: 350px;
    }
}

@media (max-width: 480px) {
    .main-container {
        margin-top: 50px;
    }

    .vehicle-description {
        margin-left: 5px;
        margin-right: 5px;
    }

    .vehicle-subdiv1, .vehicle-subdiv2, .vehicle-subdiv3, .vehicle-subdiv5, .vehicle-subdiv6 {
        width: 100%;
        padding: 10px;
    }

    .img-same {
        height: 20px;
    }

    .price-vehicle {
        font-size: 25px;
    }

    .car-name-h1 {
        font-size: 24px;
    }

    iframe {
        width: 100%;
        height: 250px;
    }
}



